.font-default-color{
    color: #506A85;
}
.default-color{
    color: #00BC9C;
}
.default-color-bg{
    background-color: #00BC9C;
    color: #fff;
    border-color: #00BC9C;
}
.btn-hover-outline:hover{
    background-color: transparent;
    border-color: #00BC9C;
    color: #fff;

}

a{
    text-decoration: none;

}
.nav-default-color{
    color: #506A85;
    transition: all 0.3s;
}

.nav-default-color:hover,.nav-default-color.active {
    color: #00BC9C!important;
}

/*Banner-Section*/
.banner-section{
    background: url("../image/banner.jpg") no-repeat center center / cover;
}
.banner-heading{
    font-size: 4rem;
}

/*Latest Work Section*/
.latest-work-section{
    background-color: #F2F5F7;
}
